/*-------------Accesibility------------*/
.accesibility-buttons{
    right: 0;
    position: fixed;
    top:50%;
    transform: translateY(-50%);
    padding: 2px 8px;
    background: $blue-dark;
    margin: 0;
    -webkit-border-radius: 8px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius: 8px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-radius: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 20;
    @include box-shadow-general;
    ul{
        list-style: none;
        padding: 0px;
        margin: 0;
        li{
            list-style-type:none;
            background: $white;
            margin: 10px auto;
            width: 34px;
            height: 34px;
            @include border-radius-light;
            background: url(../images/sprite-accesibility.png) no-repeat;
            background-color: $white;
            @include transition-light;
            &:hover{
                background-color: $blue-light;
                cursor: pointer;
            }
        }
        li.ctr-contrast{
            background-position: -3px -2px;
        }
        li.ctr-plus{
            background-position: -1px -114px;
        }
        li.ctr-normal{
            background-position: -3px -78px;
        }
        li.ctr-less{
            background-position: -1px -42px;
        }
        li.ctr-sign{
            background-position: -3px -151px;
        }
    }
}