a.carousel-control-prev, .carousel-control-next{
    height: 40px;
    width: 40px;
    background: $blue-light;
    opacity: 0.8;
    @include align-center(y);
    @include border-radius(50%);
    @include box-shadow-general;
}
#carSliders {
    width: 100%;
    background: #55CEEC url(../images/bg-slider.png)no-repeat bottom right;
    min-height: 390px;
}
#carSliders .carousel-inner img{
    height: 45vh;
    object-fit: cover;
    width: 55%;
    min-height: 390px;
}
.carousel-controls{
    @include align-center;
    width: 1140px;
    display: block;
    margin: 0 auto;
}
.carousel-caption{
    background: $blue-light;
    width: 35%;
    left: 50vw;
    text-align: left;
    padding:18px 26px;
    max-width: 495px;    
    //@include align-center(y);
    height: fit-content;
    top:25%;
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    transform: translateY(-25%);
    @include box-shadow-general;
    @include border-radius(10px);
    h3{
        font-family:'FuturaPTBold', sans-serif;
        text-transform: uppercase;
    }
    button{
        @include border-radius(18px);
        font-size: 12px;
        padding: 8px 15px;
        font-family: 'Montserrat-Bold', sans-serif;
        color: $blue-dark;
    }
}
.carousel-indicators{
    width: 40vw;
    right: 0;
    left: auto;
    margin: 0 12% 80px;
    margin-right: 12%;
    margin-left: 12%;
    li{
        width: 20px;
        height: 20px;
        margin: 3px 15px;
        @include border-radius(50%);
    }
}