.main-menu .navbar {
  border: 1px solid $gray-light;
  background-color: $white!important;
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  padding: 2px 40px;
  float: left;
  width: 100%;
  margin-top: -28px;
  @include border-radius(20px);
  @include box-shadow-general;

  .icon-home {
    background: url("../images/icon-home.png") no-repeat;
    background-position: 8px 11px;
    display: block;
    padding-left: 30px!important;
  }
}

.main-menu .navbar-light .navbar-nav .active > .nav-link,
.main-menu .navbar-light .navbar-nav .nav-link {
  color: $blue-dark;
}
.main-menu a.nav-link{
  border-image: linear-gradient(to bottom, rgba(0,0,0,0) 25%,rgba(0,0,0,1) 25%,rgba(0,0,0,1) 75%,rgba(0,0,0,0) 75%);
  border-image-slice: 1;
  border-right: 1px solid;
}
.main-menu a.nav-link.last-item{
  border-right: 0px solid;
}

.main-menu .nav-item.active {
  font-weight: 300;
}

.main-menu .dropdown-toggle::after {
  display: none;
}

.main-menu ul.navbar-nav.nav-fill {
  width: 100%;
}

.main-menu li.nav-item,
.main-menu li.nav-item.active {
  line-height: 0.7em;
  @include transition-light;
  a {
    padding: 18px 4px;
    white-space: normal;
    line-height: 1em;
    @include border-radius-light;
    &:hover{
      background: $blue-dark;
    }
  }

  &:hover {
    a,
    a:hover {
      color: $white;
    }

    .icon-home {
      background: url("../images/icon-home-w.png") no-repeat;
      background-position: 8px 14px;
      background-color: $blue-light;
    }
  }
}

.main-menu li.nav-item:last-child {
  border-right: 0;
}
.main-menu .dropdown-menu.show{
background-color: rgba(7, 29, 73, .90);
font-size: 0.9em;
padding: 10px;
color: $white;
  a{
    color: $white;
  }
  .dropdown-item{
    @include transition-light;
    &:hover{
      background-color: $blue-light;
    }
  }
  a#navbarDropdownMenuLink{
    background-color: $blue-light;
    color: $white;
  }
}

.main-menu {
  .dropdown-menu { 
    margin-top: 0px;
    width:100% !important; 
    @include border-radius(10px)
  }
  .dropdown { 
    position:static !important; 
  }
  h2{
    font-size: 1.8em;
    margin-bottom: 0;
  }
  .col-menu{
    border-right: solid 1px $white;
    .dropdown-item{
      padding: 5px;
      
    }
    .dropdown-item.important-menu-item{
      height: 100%;
    }
    &:last-child{
      border-right: none;
    }
    p{
      padding: 10px 0px;
      margin-bottom: 0px;
      line-height: 1.3em;
    }

  }
  a{
    .menu-image, .content-image{
      float: left;
      height: 100%;
      padding: 4px;
      width: 49%;
    }
    
    img{
      margin-top: 12px;
      filter:grayscale(0.8);
      width: 100%;
      @include border-radius(6px);
    }
    img.sm-image{
      width: 40px;
      height: auto;
      display: inline-block;
      margin: 0;
      @include border-radius(2px);
    } 
    span{
      display: inline-block;
      padding: 0 5px;
      width: 60%;
    }
    
    @include transition-light;
  }
  a:hover{
    img{
      filter:grayscale(0);
    }
  }
  
}

div.tooltip-inner{
  padding: 0!important;
  width: 172px;
}

/* ---- buscador y breadcum----*/
.navigation-alternatives {
  background: $blue-dark;
  padding: 32px 0 -1px;
  //margin-top: -15px;

  .breadcrumb {
    justify-content: center;
    background-color: rgba(0,0,0,0);
    color: $blue-light;
    font-size: 0.78em;
    margin: 6px 0;

    .breadcrumb-item {
      justify-content: center;
      align-items: center;
      font-family: 'Montserrat-Medium';

      &+.breadcrumb-item {
        &::before {
          color: $blue-light;
          content: '\00BB';
        }
      }

      &:last-child {
        display: flex;
        font-family: 'Montserrat-SemiBold';
      }

      &,
      a,
      span {
        color: $blue-light;
      }
    }
  }

  .search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-bar {
    float: right;
    margin-right: 10px;

    .form-control {
      border: none;
      font-family: 'Montserrat-Regular', sans-serif;
      font-weight: 300;
      font-size: 0.85em;
      @include border-radius(20px);
    }

    .input-group-append {
      margin-left: -32px;
      z-index: 1;

      span {
        @include border-radius(50%);
        width: 30px;
        height: 30px;
        margin: 2px 0 0;
        cursor: pointer;
        background: url("../images/icon-search.png") $blue-dark no-repeat;
        background-position: 49% 49%;

        &:hover {
          background-color: $blue-light;
          @include transition-light;
        }
      }
    }
  }
}
   
