/*-------------Variables------------*/
// Main Colors
$white: #ffffff !default;
$black: #000000 !default;
$gray-ultralight: #E6E6E6;
$gray-light: #C0C0C0 !default;
$gray-semilight: #C8CDD7;
$gray-semidark: #5A6886;
$gray-dark: #333333;
$gray-ultradark: #4D4D4D;
$blue-gov: #3366CC;
$blue-dark: #071D49;
$blue-light: #00B5E2;
$blue-ultralight: #55CEEC;
$blue-semilight: #E3F7FC;
$purple-ultralight: #E3E6EB;
$purple-light: #4E57A3;
$purple-semilight: #3F3C83;
$purple-medium: #2D2F69;
$purple-semidark: #21235B;
$purple-dark: #1B1D3C;
$orange-light: #F0765A;
$orange-semilight: #EE5F3E;
$orange-medium: #EE3E23;
$orange-semidark: #DD2512;
$orange-dark: #D41C02;
$yellow-light: #F8D94F;
$yellow-semilight: #FFCB00;
$yellow-medium: #FDB300;
$yellow-semidark: #FF9F00;
$yellow-dark: #F78900;
$green-ultralight: #61E394;
$green-light: #17CB82;
$green-light-2: #93e060;
$green-semilight: #39DB79;
$green-medium: #22C668;
$green-semidark: #19B466;
$green-dark: #009F51;
/*
$color-ultralight: #;
$color-light: #;
$color-semilight: #;
$color-medium: #;
$color-semidark:#;
$color-dark: #;
$color-ultradark: #;
*/