<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]> <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]> <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]> <html class="ie9 oldie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <script src="https://kit.fontawesome.com/8d0a88a433.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="container-fluid">
        <!--HEADER-->
        <div class="row header-gov">
            <div class="container">
                <a href="https://www.gov.co/" target="_blank">
                    <img src="/themes/contrib/bootstrap_sass/images/govLogo.png" alt="gov.co">
                </a>
                <button type="button" class="btn btn-outline-light btn-sm btn-lang">EN</button>
            </div>
        </div>
        <div class="row header-institution">
            <div class="container">
                <a class="logo-ansv" href="./index.html">
                    <img width="100%" src="/themes/contrib/bootstrap_sass/images/logoAnsv.png" alt="Agencia Nacional de Seguridad Vial">
                </a>
                <a class="logo-min" href="http://www.mintransporte.gov.co" target="_blank">
                    <img width="100%" src="/themes/contrib/bootstrap_sass/images/logoMin.jpg" alt="Ministerio de trasporte">
                </a>
            </div>
        </div>
    </header>
    <!--/HEADER-->

     <!-- accessibility buttons -->

  <div class="accesibility-buttons">
    <ul>
      <li class="ctr-contrast" onclick="changeThemeRotative()"></li>
      <li class="ctr-plus" onclick="resizeFont('+')"></li>
      <li class="ctr-normal" onclick="resizeFont('0')"></li>
      <li class="ctr-less" onclick="resizeFont('-')"></li>
      <li class="ctr-sign"></li>
    </ul>
  </div>


    <!-- MAIN MENU -->
    <div class="container main-menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav nav-fill">
                    <li class="nav-item active">
                        <a class="nav-link icon-home" href="./index.html">INICIO</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Agencia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Convocatorias</a>
                            <a class="dropdown-item" href="#">Contratación</a>
                            <a class="dropdown-item" href="#">Presentación Institucional</a>
                            <a class="dropdown-item" href="#">Director</a>
                            <a class="dropdown-item" href="#">Sistema Integrado de Gestión</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Observatorio
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">¿Que es el Observatorio?</a>
                            <a class="dropdown-item" href="#">Redes de Observatorios</a>
                            <a class="dropdown-item" href="#">Camaras salvavidas</a>
                            <a class="dropdown-item" href="#">Sistemas de Información</a>
                            <a class="dropdown-item" href="#">Geoportal</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Escuela Virtual de Seguridad Vial
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Autoridades</a>
                            <a class="dropdown-item" href="#">Usuarios de la via</a>
                            <a class="dropdown-item" href="#">Aliados</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Normativa</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./transparencia.html">Transparencia</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Atención a la ciudadanía
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">PQR</a>
                            <a class="dropdown-item" href="#">Preguntas Frecuentes</a>
                            <a class="dropdown-item" href="#">Contactenos</a>
                            <a class="dropdown-item" href="#">Rendición de cuentas</a>
                            <a class="dropdown-item" href="#">Mapa del sitio</a>
                            <a class="dropdown-item" href="#">Políticas de Seguridad de la información del sitio web y
                                protección de datos personales</a>
                            <a class="dropdown-item" href="#">Atención Integral a víctimas</a>
                            <a class="dropdown-item" href="#">Calendario</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./prensa.html">Prensa</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- /MAIN MENU -->

    <!-- breadcrumb and search -->
    <div class="navigation-alternatives ">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="breadcrumb" aria-label="breadcrumb">
                        <li class="breadcrumb-item"><a href="./index.html">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Escuela Virtual de Seguridad Vial</li>
                    </div>
                </div>
                <div class="col-sm-6 search-bar-container">
                    <div class="search-bar input-group">
                        <input class="form-control" type="text" placeholder="Buscar en ANSV" aria-label="Search">
                        <div class="input-group-append">
                            <span class="input-group-text" id="search"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- header and filters  -->
    <div id="header-filters" class="container-fluid bg-school-section">
        <div class="row">
            <div class="container school-container">
                <div class="row school-banner">
                    <div class="col-md-12 mt-4">
                        <h2 class="school-banner-title">ESCUELA VIRTUAL DE SEGURIDAD VIAL</h2>
                        <p class="school-banner-description my-3">Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy.</p>
                    </div>
                    <div class="col-md-12 offset-lg-3 col-lg-6">
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-3">
                                <div class="search-bar input-group">
                                    <input class="form-control" type="text" placeholder="Buscar contenidos"
                                        aria-label="Search">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 mb-3">
                                <div class="dropdown show">
                                    <a class="btn btn-outline-primary btn-tab btn-block mb-0 dropdown-toggle" href="#"
                                        role="button" id="dropdownLocation" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Filtrar por
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" onclick="">-</a>
                                        <a class="dropdown-item" onclick="">Tema</a>
                                        <a class="dropdown-item" onclick="">Sector</a>
                                        <a class="dropdown-item" onclick="">Publico</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 mb-3">
                                <div class="dropdown show">
                                    <a class="btn btn-outline-primary btn-search" href="#" role="button">
                                        Buscar
                                    </a>
                                </div>
                            </div>

                            <div class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-2 col-lg-8">
                                <div class="row">
                                    <div class="col-6 col-sm-6 mb-0 d-flex justify-content-center align-items-center">
                                        <a class="btn btn-school" href="#" role="button">
                                            <img class="img-fluid" src="/themes/contrib/bootstrap_sass/images/img_school_btn1.png"
                                                alt="Escuela para niños">
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-6 mb-0 d-flex justify-content-center align-items-center">
                                        <a class="btn btn-school" href="#" role="button">
                                            <img class="img-fluid" src="/themes/contrib/bootstrap_sass/images/img_school_btn2.png"
                                                alt="Colegios y Universidades">
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row school-content">
                    <div class="offset-md-1 col-md-10">
                        <div class="row">
                            <div class="offset-2 col-8 offset-md-1 col-md-10">
                                <h1 class="carousel-title mt-4">Contenidos por categorías</h1>
                                <p class="carousel-description">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                    elit, sed diam nonummy.</p>
                            </div>
                            <!--slider-->
                            <div class="col-sm-12 mb-4">
                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <ul class="carousel-indicators">
                                        <li data-target="#carouselExampleControls" data-slide-to="0" class="active">
                                        </li>
                                        <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                                    </ul>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="row">
                                                <div class="offset-2 col-8 offset-md-1 col-md-10 mt-3 mb-5">
                                                    <div class="row item-container">
                                                        <div class="col-md-6 item-image my-3">
                                                            <span class="icon"></span>
                                                            <img class="img-fluid"
                                                                src="/themes/contrib/bootstrap_sass/images/img_school_carousel1.png">
                                                        </div>
                                                        <div class="col-md-6 item-info my-3">
                                                            <h2 class="item-title mb-3"><small
                                                                    class="mb-2">MICROLECCIÓN</small>Lorem
                                                                ipsum 1</h2>
                                                            <p class="item-description mb-4">
                                                                Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                                elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                                                dolore magna aliquam erat volutpat.
                                                                <br><br>
                                                                Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                                                ullamcorper suscipit lobortis nisl ut aliquip ex ea
                                                                commodo consequat. Duis autem vel
                                                            </p>
                                                            <a class="btn btn-warning btn-item" role="button"
                                                                href="#">Ingresar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="offset-2 col-8 offset-md-1 col-md-10 mt-3 mb-5">
                                                    <div class="row item-container">
                                                        <div class="col-md-6 item-image my-3">
                                                            <span class="icon"></span>
                                                            <img class="img-fluid"
                                                                src="/themes/contrib/bootstrap_sass/images/img_school_carousel1.png">
                                                        </div>
                                                        <div class="col-md-6 item-info my-3">
                                                            <h2 class="item-title mb-3"><small
                                                                    class="mb-2">MICROLECCIÓN</small>Lorem
                                                                ipsum 2</h2>
                                                            <p class="item-description mb-4">
                                                                Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                                elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                                                dolore magna aliquam erat volutpat.
                                                                <br><br>
                                                                Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                                                ullamcorper suscipit lobortis nisl ut aliquip ex ea
                                                                commodo consequat. Duis autem vel
                                                            </p>
                                                            <a class="btn btn-warning btn-item" role="button"
                                                                href="#">Ingresar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="offset-2 col-8 offset-md-1 col-md-10 mt-3 mb-5">
                                                    <div class="row item-container">
                                                        <div class="col-md-6 item-image my-3">
                                                            <span class="icon"></span>
                                                            <img class="img-fluid"
                                                                src="/themes/contrib/bootstrap_sass/images/img_school_carousel1.png">
                                                        </div>
                                                        <div class="col-md-6 item-info my-3">
                                                            <h2 class="item-title mb-3"><small
                                                                    class="mb-2">MICROLECCIÓN</small>Lorem
                                                                ipsum 3</h2>
                                                            <p class="item-description mb-4">
                                                                Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                                elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                                                dolore magna aliquam erat volutpat.
                                                                <br><br>
                                                                Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                                                ullamcorper suscipit lobortis nisl ut aliquip ex ea
                                                                commodo consequat. Duis autem vel
                                                            </p>
                                                            <a class="btn btn-warning btn-item" role="button"
                                                                href="#">Ingresar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer 1 -->

    <section id="footer-agencia" class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 d-flex align-items-center">
                        <img class="img-fluid" src="/themes/contrib/bootstrap_sass/images/img-govierno-linea.jpg" alt="icono de gobierno en linea">
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li><a href="#">Ministerio de Transporte </a></li>
                            <li><a href="#">Instituto Nacional de Vias - INVIAS</a></li>
                            <li><a href="#">Agencia Nacional de Infraestructura - ANI</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li><a href="#">Superintendencia de Transporte </a></li>
                            <li><a href="#">Policia Nacional</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- footer 2 -->

    <footer id="footer-gov">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <div class="col-6">
                            <img class="img-responsive "
                                src="https://www.mintransporte.gov.co/info/mintransporte/media/bloque2387.png"
                                id="govco" alt="icono colombia oficial">
                        </div>
                        <div class="col-6">
                            <ul class="list-unstyled social-list">
                                <li>
                                    <a class="section fa fa-facebook-f enl-fb" target="_blank"
                                        href="https://www.facebook.com/agencianacionaldeseguridadvial/?fref=ts"
                                        title="Enlace a Facebook"></a>
                                </li>
                                <li>
                                    <a class="section fa fa-twitter enl-tw" target="_blank"
                                        href="https://twitter.com/ansvcol" title="Enlace a Twitter"></a>
                                </li>
                                <li>
                                    <a class="section fa fa-youtube enl-yt" target="_blank"
                                        href="https://www.youtube.com/channel/UCynojn_g9TbcdPR6w1FMBDA"
                                        title="Enlace a Youtube"></a></li>
                                <li>
                                    <a class="section fa fa-instagram enl-in" target="_blank"
                                        href="https://www.instagram.com/ansvcolombia/" title="Enlace a Instagram"></a>
                                </li>
                                <li>
                                    <a class="section fa fa-flickr enl-fl" target="_blank"
                                        href="https://www.flickr.com/photos/141231580@N06" title="Enlace a Flickr"></a>
                                </li>
                                <!--<li>
                  <a class="section fa fa-calendar-o" href="https://www.mintransporte.gov.co/calendario" title="Enlace a Agenda"></a>
                </li>-->
                                <li>
                                    <a class="section fa fa-weixin" target="_blank" href="http://correo.ansv.gov.co/"
                                        title="Contacto correo"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-2 text-center text-md-left ">
                    <h6>Agencia Nacional de Seguridad Vial</h6>
                    <p>Calle 24 # 60 - 50 Piso 9<br>Centro Comercial Gran Estación II (Bogotá, D.C - Colombia)</p>
                </div>

                <div class="col-2 text-center text-md-left">
                    <p>Código Postal 111321</p>
                    <h6>Teléfono conmutador</h6>
                    <p>(+57 1) 7399080 <br>(+57 1) 3240800 op. 2</p>
                </div>

                <div class="col-3 no-padding text-center text-md-left">
                    <!--<h6>Ingrese aquí su solicitud en línea para radicar</h6>

          <p>
            <a href="https://mintransporte.powerappsportals.com/" target="_blank">https://mintransporte.powerappsportals.com/</a>
          </p>

          <h6>Formulario para verificar excepciones de movilidad</h6>

          <p>
            <a href="https://clyt.mintransporte.gov.co/" target="_blank">https://clyt.mintransporte.gov.co/</a>
          </p>-->

                    <h6>Correo institucional</h6>

                    <p>atencionalciudadano@ansv.gov.co</p>

                    <h6>Correo de notificaciones judiciales</h6>

                    <p>notificacionesjuridicas@ansv.gov.co</p>

                    <p>Última actualización: 14 Ene 2020</p>
                </div>

                <div class="col-2 no-padding text-center text-md-left">

                    <h6>Horario de atención canal virtual (PQRSD)</h6>

                    <p>Lunes a viernes<br>de 8:00 a.m. - 5:00 p.m. <br>Jornada Continua</p>

                    <h6>Recepción de Correspondencia</h6>

                    <p>Lunes a viernes<br>de 8:00 a.m. - 4:00 p.m. <br>Jornada Continua</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Temporal Fix -->
  <div id="calendar-container" style="display: none"> </div>

</body>

</html>