<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]> <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]> <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]> <html class="ie9 oldie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  
  <script src="https://kit.fontawesome.com/8d0a88a433.js" crossorigin="anonymous"></script>
</head>

<body>
  <!--HEADER-->
  <header class="container-fluid">
    <div class="row header-gov">
      <div class="container">
        <a href="https://www.gov.co/" target="_blank">
          <img src="/themes/contrib/bootstrap_sass/images/govLogo.png" alt="gov.co">
        </a>
        <button type="button" class="btn btn-outline-light btn-sm btn-lang">EN</button>
      </div>
    </div>
    </div>
    <div class="row header-institution">
      <div class="container">
        <a class="logo-ansv" href="./index.html">
          <img src="/themes/contrib/bootstrap_sass/images/logoAnsv.png" alt="Agencia Nacional de Seguridad Vial">
        </a>
        <a class="logo-min" href="http://www.mintransporte.gov.co" target="_blank">
          <img src="/themes/contrib/bootstrap_sass/images/logoMin.jpg" alt="Ministerio de trasporte">
        </a>
      </div>
    </div>
  </header>
  <!--/HEADER-->

  <!-- accessibility buttons -->
  <div class="accesibility-buttons">
    <ul>
      <li class="ctr-contrast"></li>
      <li class="ctr-plus"></li>
      <li class="ctr-normal"></li>
      <li class="ctr-less"></li>
      <li class="ctr-sign"></li>
    </ul>
  </div>

  <!-- MAIN MENU -->
  <div class="container main-menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav nav-fill">
          <li class="nav-item active">
            <a class="nav-link icon-home" href="/bye">INICIO</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Agencia
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Convocatorias</a>
              <a class="dropdown-item" href="#">Contratación</a>
              <a class="dropdown-item" href="#">Presentación Institucional</a>
              <a class="dropdown-item" href="#">Director</a>
              <a class="dropdown-item" href="#">Sistema Integrado de Gestión</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Observatorio
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">¿Que es el Observatorio?</a>
              <a class="dropdown-item" href="#">Redes de Observatorios</a>
              <a class="dropdown-item" href="#">Camaras salvavidas</a>
              <a class="dropdown-item" href="#">Sistemas de Información</a>
              <a class="dropdown-item" href="#">Geoportal</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Escuela Virtual de Seguridad Vial
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Autoridades</a>
              <a class="dropdown-item" href="#">Usuarios de la via</a>
              <a class="dropdown-item" href="#">Aliados</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Normativa</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/transparencia">Transparencia</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Atención a la ciudadanía
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">PQR</a>
              <a class="dropdown-item" href="#">Preguntas Frecuentes</a>
              <a class="dropdown-item" href="#">Contactenos</a>
              <a class="dropdown-item" href="#">Rendición de cuentas</a>
              <a class="dropdown-item" href="#">Mapa del sitio</a>
              <a class="dropdown-item" href="#">Políticas de Seguridad de la información del sitio web y
                protección de datos personales</a>
              <a class="dropdown-item" href="#">Atención Integral a víctimas</a>
              <a class="dropdown-item" href="#">Calendario</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/prensa">Prensa</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- /MAIN MENU -->

  <!-- breadcrumb and search -->

  <div class="navigation-alternatives ">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="breadcrumb" aria-label="breadcrumb">
            <li class="breadcrumb-item"><a href="./index.html">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transparencia</li>
          </div>
        </div>
        <div class="col-sm-6 search-bar-container">
          <div class="search-bar input-group">
            <input class="form-control" type="text" placeholder="Buscar en ANSV" aria-label="Search">
            <div class="input-group-append">
              <span class="input-group-text" id="search"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Transparency banner-->
  <div class="container-fluid bg-blue-semilight">
    <div class="row">
      <div class="container">
        <div class="row transparency-banner">
          <div class="col-md-12 my-4">
            <h2 class="transparency-banner-title">TRASPARENCIA Y ACCESO A LA INFORMACIÓN</h2>
          </div>
          <div class="col-md-12">
            <h3 class="transparency-banner-body">Ley de Transparencia y del Derecho de Acceso a la Información Pública
              Nacional
              En cumplimiento a la Ley 1712 del 6 de marzo de 2014 La Agencia Nacional de Seguridad Vial pone a
              disposición de
              la ciudadanía la siguiente información:</h3>

            <button type="button" class="btn btn-outline-primary">Ley de transparencia</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="transparency-content bg-blue-semilight container-fluid">
    <div class="row">
      <!-- menu buttons -->
      <div class="col-sm-12 col-md-3 col-lg-2 mb-5" id="transparency-lvl3-buttons">
        <button type="button" class="btn btn-tranparency btn-1" onclick="openSection(0)">1. Mecanismos de contacto con
          el sujeto obligado</button>
        <button type="button" class="btn btn-tranparency btn-2" onclick="openSection(1)">2. Información de
          Interés</button>
        <button type="button" class="btn btn-tranparency btn-3" onclick="openSection(2)">3. Estructura Orgánica y Talento Humano</button>
        <button type="button" class="btn btn-tranparency btn-4" onclick="openSection(3)">4. Normatividad</button>
        <button type="button" class="btn btn-tranparency btn-5" onclick="openSection(4)">5. Presupuesto</button>
        <button type="button" class="btn btn-tranparency btn-6" onclick="openSection(5)">6. Planeación</button>
        <button type="button" class="btn btn-tranparency btn-7" onclick="openSection(6)">7. Control</button>
        <button type="button" class="btn btn-tranparency btn-8" onclick="openSection(7)">8. Contratación</button>
        <button type="button" class="btn btn-tranparency btn-9" onclick="openSection(8)">9. Trámites y Servicios</button>
        <button type="button" class="btn btn-tranparency btn-10" onclick="openSection(9)">10. Instrumentos de Gestión de información
          pública</button>
        <button type="button" class="btn btn-tranparency btn-11" onclick="openSection(10)">11. Transparencia pasiva</button>
        <button type="button" class="btn btn-tranparency btn-12" onclick="openSection(11)">12. Accesibilidad Web</button>
        <button type="button" class="btn btn-tranparency btn-13" onclick="openSection(12)">13. Habeas Data</button>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-8 " id="transparency-lvl3-container">
        <p>holi</p>
      </div>
    </div>
  </div>
  <!-- footer 1 -->

  

  <section id="footer-agencia" class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <img class="img-fluid" src="/themes/contrib/bootstrap_sass/images/img-govierno-linea.jpg" alt="icono de gobierno en linea">
          </div>
          <div class="col-sm-4">
            <ul>
              <li><a href="#">Ministerio de Transporte </a></li>
              <li><a href="#">Instituto Nacional de Vias - INVIAS</a></li>
              <li><a href="#">Agencia Nacional de Infraestructura - ANI</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul>
              <li><a href="#">Superintendencia de Transporte </a></li>
              <li><a href="#">Policia Nacional</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section>


  <!-- footer 2 -->

  <footer id="footer-gov">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="row">
            <div class="col-6">
              <img class="img-responsive " src="https://www.mintransporte.gov.co/info/mintransporte/media/bloque2387.png" id="govco" alt="icono colombia oficial">
            </div>
            <div class="col-6">
              <ul class="list-unstyled social-list">
                <li>
                  <a class="section fa fa-facebook-f enl-fb" target="_blank" href="https://www.facebook.com/MintransporteColombiaoficial" title="Enlace a Facebook"></a>
                </li>
                <li>
                  <a class="section fa fa-twitter enl-tw" target="_blank" href="https://twitter.com/MinTransporteCo" title="Enlace a Twitter"></a>
                </li>
                <li>
                  <a class="section fa fa-youtube enl-yt" target="_blank" href="https://www.youtube.com/user/Mintransporte" title="Enlace a Youtube"></a></li>
                <li>
                  <a class="section fa fa-instagram enl-in" target="_blank" href="https://www.instagram.com/mintransporteco/" title="Enlace a Instagram"></a>
                </li>
                <li>
                  <a class="section fa fa-flickr enl-fl" target="_blank" href="https://www.flickr.com/photos/mintransporteco/" title="Enlace a Flickr"></a>
                </li>
                <li>
                  <a class="section fa fa-calendar-o" href="https://www.mintransporte.gov.co/calendario" title="Enlace a Agenda"></a>
                </li>
                <li>
                  <a class="section fa fa-weixin" target="_blank" href="http://bit.ly/2UC8kag" title="Enlace a Chat"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-2 text-center text-md-left ">
          <h6>Agencia Nacional de Seguridad Vial</h6>
          <p>Calle 24 # 60 - 50 Piso 9<br>Centro Comercial Gran Estación II (Bogotá, D.C - Colombia)</p>
        </div>

        <div class="col-2 text-center text-md-left">
          <p>Código Postal 111321</p>
          <h6>Teléfono conmutador</h6>
          <p>(+57 1) 7399080 op. 1 <br>(+57 1) 3240800 op. 2</p>
        </div>

        <div class="col-3 no-padding text-center text-md-left">
          <!--<h6>Ingrese aquí su solicitud en línea para radicar</h6>

          <p>
            <a href="https://mintransporte.powerappsportals.com/" target="_blank">https://mintransporte.powerappsportals.com/</a>
          </p>

          <h6>Formulario para verificar excepciones de movilidad</h6>

          <p>
            <a href="https://clyt.mintransporte.gov.co/" target="_blank">https://clyt.mintransporte.gov.co/</a>
          </p>-->

          <h6>Correo institucional</h6>

          <p>atencionalciudadano@ansv.gov.co</p>

          <h6>Correo de notificaciones judiciales</h6>

          <p>notificacionesjuridicas@ansv.gov.co</p>

          <p>Última actualización: 14 Ene 2020</p>
        </div>

        <div class="col-2 no-padding text-center text-md-left">

          <h6>Horario de atención canal virtual (PQRSD)</h6>

          <p>Lunes a viernes<br>de 8:00 a.m. - 5:00 p.m. <br>Jornada Continua</p>

          <h6>Recepción de Correspondencia</h6>

          <p>Lunes a viernes<br>de 8:00 a.m. - 4:00 p.m. <br>Jornada Continua</p>

          <p><a href="https://www.mintransporte.gov.co/publicaciones/357/directorios_ministerio_de_transporte/" target="_blank">Sedes Territoriales y Fluviales</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Temporal Fix -->
  <div id="calendar-container" style="display: none"> </div>

</body>

</html>
