<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]> <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]> <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]> <html class="ie9 oldie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    <script src="https://kit.fontawesome.com/8d0a88a433.js" crossorigin="anonymous"></script>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v7.0&appId=264047843661129&autoLogAppEvents=1"></script>
</head>

<body>
    <!--HEADER-->
    <header class="container-fluid">
        <!--HEADER-->
        <div class="row header-gov">
            <div class="container">
                <a href="https://www.gov.co/" target="_blank">
                    <img src="/themes/contrib/bootstrap_sass/images/govLogo.png" alt="gov.co">
                </a>
                <button type="button" class="btn btn-outline-light btn-sm btn-lang">EN</button>
            </div>
        </div>
        <div class="row header-institution">
            <div class="container">
                <a class="logo-ansv" href="/home">
                    <img width="100%" src="/themes/contrib/bootstrap_sass/images/logoAnsv.png" alt="Agencia Nacional de Seguridad Vial">
                </a>
                <a class="logo-min" href="http://www.mintransporte.gov.co" target="_blank">
                    <img width="100%" src="/themes/contrib/bootstrap_sass/images/logoMin.jpg" alt="Ministerio de trasporte">
                </a>
            </div>
        </div>
    </header>
    <!--/HEADER-->

    <!-- accessibility buttons -->

    <div class="accesibility-buttons">
        <ul>
            <li class="ctr-contrast" onclick="changeThemeRotative()"></li>
            <li class="ctr-plus" onclick="resizeFont('+')"></li>
            <li class="ctr-normal" onclick="resizeFont('0')"></li>
            <li class="ctr-less" onclick="resizeFont('-')"></li>
            <li class="ctr-sign"></li>
        </ul>
    </div>

    <!-- MAIN MENU -->
   <div id="main-menu" class="container main-menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav nav-fill">
          <li class="nav-item active">
            <a class="nav-link icon-home" href="/home">INICIO</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAgenciaLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" data-placement="top" data-html="true" title="<img src='/themes/contrib/bootstrap_sass/images/mi-ciudad.gif'><em>imagen tomada de</em> <b>https://bogota.gov.co/</b>">
              Agencia
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownAgenciaLink">
              <div class="large-menu row">
                <div class="col-menu col-md-3 col-sm-12">
                  <a class="dropdown-item important-menu-item" href="#">
                    <div class="menu-image">
                      <img src="/themes/contrib/bootstrap_sass/images/director.jpg" alt="">  
                    </div>
                    <div class="content-image">
                      <h2>Director<br><small>Luis Felipe Lota</small></h2>
                      <p>Luis Felipe Lota es ingeniero civil con maestría en transporte de la Universidad Nacional de Colombia y especialización en gobierno, gerencia y asuntos públicos de la Universidad Externado.</p>
                    </div>
                  </a>
                </div>
                <div class="col-menu col-md-3 col-sm-12">
                  <h2><small>Contenidos destacados</small></h2>
                  <a class="dropdown-item" href="/agencia">Agencia</a>
                  <a class="dropdown-item" href="#">Eventos</a>
                  <a class="dropdown-item" href="#">Calendario</a>
                  <a class="dropdown-item" href="#">Pilares y proyectos transversales</a>
                  <a class="dropdown-item" href="#">Atención a victimas de siniestros viales</a>
                </div>
                <div class="col-menu col-md-3 col-sm-12">
                  <h2><small>Secciones</small></h2>
                  <a class="dropdown-item" href="#">Contratación y Convocatorias</a>
                  <a class="dropdown-item" href="#">Presentación institucional</a>
                  <a class="dropdown-item" href="#">Estructura y talento humano</a>
                  <a class="dropdown-item" href="#">Modelo integrado de planeación y gestión</a>
                  <a class="dropdown-item" href="#">SINAVIAL</a>
                </div>
                <div class="col-menu col-md-3 col-sm-12">
                  <h2><small>Otros enlaces de interes</small></h2>
                  <a class="dropdown-item" href="#">
                    <img class="sm-image" src="/themes/contrib/bootstrap_sass/images/icon-work.jpg">
                    <span>Convocatorias vigentes</span>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Observatorio
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="large-menu row">
                <div class="col-menu col-md-3 col-sm-12">
                  <a class="dropdown-item important-menu-item" href="#">
                    <div class="menu-image">
                      <img src="/themes/contrib/bootstrap_sass/images/img-menu-onsv.jpg" alt="">  
                    </div>
                    <div class="content-image">
                      <h2><small>Mision<br>ONSV</small></h2>
                      <p>Hacer seguimiento y evaluación de los resultados de la implementación de las políticas públicas, estrategias, programas, planes y proyectos en materia de seguridad vial.</p>
                    </div>
                  </a>
                </div>
                <div class="col-menu col-md-3 col-sm-12">
                  <h2><small>Contenidos destacados</small></h2>
                  <a class="dropdown-item" href="/observatorio">Observatorio nacional de seguridad vial</a>
                  <a class="dropdown-item" href="#">Aliados y miembros</a>
                  <a class="dropdown-item" href="#">Observatorios territoriales</a>
                  <a class="dropdown-item" href="#">Consultas</a>
                  <a class="dropdown-item" href="#">Indicadores</a>
                  <a class="dropdown-item" href="#">Geoportal</a>
                  <a class="dropdown-item" href="#">Analítica de datos</a>
                </div>
                <div class="col-menu col-md-3 col-sm-12">
                  <h2><small>Secciones</small></h2>
                  <a class="dropdown-item" href="#">¿Que es el Observatorio?</a>
                  <a class="dropdown-item" href="#">Consultas</a>
                  <a class="dropdown-item" href="#">Publicaciones</a>
                  <a class="dropdown-item" href="#">Red de Observatorios</a>
                  <a class="dropdown-item" href="#">Descargas</a>
                </div>
                <div class="col-menu col-md-3 col-sm-12">
                  <h2><small>Otros enlaces de interes</small></h2>
                  <a class="dropdown-item" href="#">
                    <img class="sm-image" src="/themes/contrib/bootstrap_sass/images/img-camaras.jpg" alt="">
                    <span>Camaras salvavidas</span>
                  </a>
                  <a class="dropdown-item" href="#">Mapa de nodos</a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Escuela Virtual de Seguridad Vial
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="large-menu row">
                <div class="col-menu col-md-3 col-sm-12">
                  <a class="dropdown-item important-menu-item" href="#">
                    <div class="menu-image">
                      <img src="/themes/contrib/bootstrap_sass/images/img-menu-ensv.jpg" alt="">  
                    </div>
                    <div class="content-image">
                      <h2><small>Escuela </small></h2>
                      <p>Hacer seguimiento y evaluación de los resultados de la implementación de las políticas públicas, estrategias, programas, planes y proyectos en materia de seguridad vial.</p>
                    </div>
                  </a>
                </div>
                <div class="col-menu col-md-3 col-sm-12">
                  <h2><small>Contenidos destacados</small></h2>
                  <a class="dropdown-item" href="/escuela">Escuela virtual de seguridad vial</a>
                  <a class="dropdown-item" href="#">Territoriales</a>
                  <a class="dropdown-item" href="#">Recursos educativos digitales para Aliados</a>
                  <a class="dropdown-item" href="#">Instituciones educativas</a>
                </div>
                <div class="col-menu col-md-3 col-sm-12">
                  <h2><small>Secciones</small></h2>
                  <a class="dropdown-item" href="#">Recursos educativos digitales para Autoridades</a>
                  <a class="dropdown-item" href="#">Recursos educativos digitales para Aliados</a>
                  <a class="dropdown-item" href="#">Recursos educativos digitales para Usuarios de la vía</a>
                  <a class="dropdown-item" href="#">Recursos educativos digitales para Niños, niñas y adolescentes</a>
                </div>
                <div class="col-menu col-md-3 col-sm-12">
                  <h2><small>Otros enlaces de interes</small></h2>
                  <a class="dropdown-item" href="#">
                    <img class="sm-image" src="/themes/contrib/bootstrap_sass/images/img-carga.jpg" alt="">
                    <span>Conductores de transporte de carga</span>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/normativa">Normativa</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/transparencia">Transparencia</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Atención a la ciudadanía
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="large-menu row">
                <div class="col-menu col-md-3 col-sm-12">
                  <a class="dropdown-item important-menu-item" href="#">
                    <div class="menu-image">
                      <img src="/themes/contrib/bootstrap_sass/images/img-menu-pqrs.jpg" alt="">  
                    </div>
                    <div class="content-image">
                      <br>
                      <h2><small>PQRS</small></h2>
                      <p>Hacer seguimiento y evaluación de los resultados de la implementación de las políticas públicas, estrategias, programas.</p>
                    </div>
                  </a>
                </div>
                <div class="col-menu col-md-3 col-sm-12">
                  <h2><small>Contenidos destacados</small></h2>
                  <a class="dropdown-item" href="#">Atención a la ciudadanía</a>
                  <a class="dropdown-item" href="#">Preguntas y respuestas frecuentes</a>
                  <a class="dropdown-item" href="#">Participación ciudadana</a>
                  <a class="dropdown-item" href="#">PQRSD</a>
                </div>
                <div class="col-menu col-md-3 col-sm-12">
                  <h2><small>Secciones</small></h2>
                  <a class="dropdown-item" href="#">Contáctenos</a>
                  <a class="dropdown-item" href="#">Preguntas y respuestas frecuentes</a>
                  <a class="dropdown-item" href="#">Glosario</a>
                  <a class="dropdown-item" href="#">Trámites y servicios</a>
                  <a class="dropdown-item" href="#">Política de seguridad de información del sitio web</a>
                  <a class="dropdown-item" href="#">Política de protección de datos personales</a>
                  <a class="dropdown-item" href="#">Notificaciones judiciales y administrativas</a>
                </div>
                <div class="col-menu col-md-3 col-sm-12">
                  <h2><small>Otros enlaces de interes</small></h2>
                  <a class="dropdown-item" href="#">
                    <img class="sm-image" src="/themes/contrib/bootstrap_sass/images/img-carga.jpg" alt="">
                    <span>Conductores de transporte de carga</span>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/prensa">Prensa</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- /MAIN MENU -->

    <!-- breadcrumb and search -->
    <div class="navigation-alternatives ">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="breadcrumb" aria-label="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
                        <li class="breadcrumb-item active" aria-current="page">Agencia</li>
                    </div>
                </div>
                <div class="col-sm-6 search-bar-container">
                    <div class="search-bar input-group">
                        <input class="form-control" type="text" placeholder="Buscar en ANSV" aria-label="Search">
                        <div class="input-group-append">
                            <span class="input-group-text" id="search"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /breadcrumb and search -->




    <!-- SEC BANNER | Para cuando tengamos tiempo / deseable -->
    <!--<section id="secondary-banner">
    <div class="row">

    </div>
  </section>-->
    <!-- /SEC BANNER -->

<div class="container-fluid">
    <div class="row">
      <div class="container agency-container">
        <div class="row agency-banner">
          <div class="col-md-12 mt-2 mb-4">
            <h2 class="banner-title">AGENCIA NACIONAL DE SEGURIDAD VIAL</h2>
          </div>
          <div class="col-md-12">
            <h3 class="banner-body mb-4 mb-md-5">
              Unidad Administrativa Especial del orden nacional, que forma parte de la Rama
              Ejecutiva, con
              personería jurídica, autonomía administrativa, financiera y patrimonio propio,
              adscrita al
              Ministerio de Transporte.
            </h3>
          </div>
          <section class="agency-menubar col-md-10 offset-md-1 mb-3">
            <div class="row">
              <div class="col-md-4 col-lg-2 px-0 mx-0 mb-md-3">
                <a class="link" href="#">
                  <h3>Presentación institucional</h3>
                </a>
              </div>
              <div class="col-md-4 col-lg-2 px-0 mx-0 mb-md-3">
                <a class="link" href="#">
                  <h3>Estructura y talento humano</h3>
                </a>
              </div>
              <div class="col-md-4 col-lg-2 px-0 mx-0 mb-md-3">
                <a class="link" href="#">
                  <h3>Contratación y convocatorias</h3>
                </a>
              </div>
              <div class="col-md-4 col-lg-2 px-0 mx-0 mb-md-3">
                <a class="link" href="#">
                  <h3>Modelo integrado de planeación y gestión</h3>
                </a>
              </div>
              <div class="col-md-4 col-lg-2 px-0 mx-0 mb-md-3">
                <a class="link" href="#">
                  <h3>SINAVIAL</h3>
                </a>
              </div>
              <div class="col-md-4 col-lg-2 px-0 mx-0 mb-md-3">
                <a class="link" href="#">
                  <h3>Pilares y proyectos transversales</h3>
                </a>
              </div>
            </div>
          </section>
        </div>
        <div class="row agency-content">
          <section id="image-agency" class="col-sm-12">
            <div class="row">
              <div class="col-md-4 event-image type-bike" style="background-image: url('/themes/contrib/bootstrap_sass/images/imageSlider1.jpg');">
                <span class="event-icon"></span>
              </div>
              <div class="col-md-4 event-image type-car" style="background-image: url('/themes/contrib/bootstrap_sass/images/imageSlider2.jpg');">
                <span class="event-icon"></span>
              </div>
              <div class="col-md-4 event-image type-person" style="background-image: url('/themes/contrib/bootstrap_sass/images/imageSlider3.jpg');">
                <span class="event-icon"></span>
              </div>
            </div>
          </section>
          <!-- eventos -->

          <section class="offset-md-1 col-md-10">
            <div id="event" class="row">
              <div class="col-md-12 inner-menu-title">
                <h3 class="text-left mt-3 mb-4">Eventos y calendario</h3>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="d-flex">
                  <h2 class="event-header">Proximos eventos</h2>
                </div>
                <div class="contentainer-upcoming-event">
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">ESTA SEMANA</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">TODOS</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                        aria-labelledby="pills-home-tab">
                                        <ul class="list-unstyled">
                                            <li><span>11/05/2020</span><br>Sed malesuada dolor et mi mollis blandit.
                                                Quisque
                                                nisl velit, sagittis in accumsan venenatis, faucibus eu nunc.
                                                Suspendisse
                                                consequat eget neque a auctor.</li>
                                            <hr>
                                            <li><span>11/05/2020</span><br>Sed malesuada dolor et mi mollis blandit.
                                                Quisque
                                                nisl velit, sagittis in accumsan venenatis, faucibus eu nunc.
                                                Suspendisse
                                                consequat eget neque a auctor.</li>
                                            <hr>
                                            <li><span>11/05/2020</span><br>Sed malesuada dolor et mi mollis blandit.
                                                Quisque
                                                nisl velit, sagittis in accumsan venenatis, faucibus eu nunc.
                                                Suspendisse
                                                consequat eget neque a auctor.</li>
                                            <hr>
                                            <li><span>11/05/2020</span><br>Sed malesuada dolor et mi mollis blandit.
                                                Quisque
                                                nisl velit, sagittis in accumsan venenatis, faucibus eu nunc.
                                                Suspendisse
                                                consequat eget neque a auctor.</li>
                                            <hr>
                                            <li><span>11/05/2020</span><br>Sed malesuada dolor et mi mollis blandit.
                                                Quisque
                                                nisl velit, sagittis in accumsan venenatis, faucibus eu nunc.
                                                Suspendisse
                                                consequat eget neque a auctor.</li>
                                            <hr>
                                            <li><span>11/05/2020</span><br>Sed malesuada dolor et mi mollis blandit.
                                                Quisque
                                                nisl velit, sagittis in accumsan venenatis, faucibus eu nunc.
                                                Suspendisse
                                                consequat eget neque a auctor.</li>
                                            <hr>
                                        </ul>
                                    </div>
                                   <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-12 calendar">
                            <div class="d-flex">
                                <h2 class="event-header">Calendario</h2>
                            </div>
                            <div id="calendar-container">

                            </div>
                        </div>
                    </div>
                               <div class="col-sm-12 mb-5">
              <div class="row">
                <div class="col-md-12 inner-menu-title">
                  <h3 class="text-left mt-3 mb-2">Videos</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <a href="#" class="video-item my-3">
                    <div class="row mx-0">
                      <div class="col-sm-5 video-img-container type-bus">
                        <img class="img-fluid" src="/themes/contrib/bootstrap_sass/images/img_video_1.jpg" alt="imagen Lorem ipsum dolor sit">
                        <span class="event-icon"></span>
                      </div>
                      <div class="col-sm-7 video-content">
                        <div class="row">
                          <div class="col video-date">12/05/2020</div>
                          <div class="col video-city">Bogotá</div>
                        </div>
                        <div class="row">
                          <div class="col-12 video-title">
                            Lorem Ipsum et sat exuperi
                          </div>
                          <div class="col-12 video-description">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt
                            ut laoreet
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-6">
                  <a href="#" class="video-item my-3">
                    <div class="row mx-0">
                      <div class="col-sm-5 video-img-container type-car">
                        <img class="img-fluid" src="/themes/contrib/bootstrap_sass/images/img_video_2.jpg" alt="imagen Lorem ipsum dolor sit">
                        <span class="event-icon"></span>
                      </div>
                      <div class="col-sm-7 video-content">
                        <div class="row">
                          <div class="col video-date">12/05/2020</div>
                          <div class="col video-city">Cali</div>
                        </div>
                        <div class="row">
                          <div class="col-12 video-title">
                            Lorem Ipsum et sat exuperi
                          </div>
                          <div class="col-12 video-description">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt
                            ut laoreet
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>

     <!-- footer 1 -->

  <section id="footer-agencia" class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <img class="img-fluid" src="/themes/contrib/bootstrap_sass/images/img-govierno-linea.jpg" alt="icono de gobierno en linea">
          </div>
          <div class="col-sm-4">
            <ul>
              <li><a href="#">Ministerio de Transporte </a></li>
              <li><a href="#">Instituto Nacional de Vias - INVIAS</a></li>
              <li><a href="#">Agencia Nacional de Infraestructura - ANI</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul>
              <li><a href="#">Superintendencia de Transporte </a></li>
              <li><a href="#">Policia Nacional</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- footer 2 -->

  <footer id="footer-gov">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-6">
          <div class="row">
            <div class="col-5">
              <img class="img-responsive " src="https://www.mintransporte.gov.co/info/mintransporte/media/bloque2387.png" id="govco" alt="icono colombia oficial">
            </div>
            <div class="col-7">
              <ul class="list-unstyled social-list">
                <li>
                  <a class="section fa fa-facebook-f enl-fb" target="_blank" href="https://www.facebook.com/agencianacionaldeseguridadvial/?fref=ts" title="Enlace a Facebook"></a>
                </li>
                <li>
                  <a class="section fa fa-twitter enl-tw" target="_blank" href="https://twitter.com/ansvcol" title="Enlace a Twitter"></a>
                </li>
                <li>
                  <a class="section fa fa-youtube enl-yt" target="_blank" href="https://www.youtube.com/channel/UCynojn_g9TbcdPR6w1FMBDA" title="Enlace a Youtube"></a></li>
                <li>
                  <a class="section fa fa-instagram enl-in" target="_blank" href="https://www.instagram.com/ansvcolombia/" title="Enlace a Instagram"></a>
                </li>
                <li>
                  <a class="section fa fa-flickr enl-fl" target="_blank" href="https://www.flickr.com/photos/141231580@N06" title="Enlace a Flickr"></a>
                </li>
                <li>
                  <a class="section fa fa-weixin" target="_blank" href="http://correo.ansv.gov.co/" title="Contacto correo"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 text-md-left ">
          <h6>Agencia Nacional de Seguridad Vial</h6>
          <p>Calle 24 # 60 - 50 Piso 9<br>Centro Comercial Gran Estación II (Bogotá, D.C - Colombia) Código Postal 111321</p>
        </div>

        <div class="col-md-2 col-sm-6 text-md-left ">
          <h6>Teléfono conmutador</h6>
          <p>(+57 1) 7399080 <br>(+57 1) 3240800 op. 2</p>
        </div>

        <div class="col-md-3 col-sm-6 no-padding text-md-left ">

          <h6>Correo institucional</h6>

          <p>atencionalciudadano@ansv.gov.co</p>

          <h6>Correo de notificaciones judiciales</h6>

          <p>notificacionesjuridicas@ansv.gov.co</p>
          
          <h6>Última actualización:</h6>

          <p>11 de Junio del 2020 | 8:00 am</p>
        </div>

        <div class="col-md-2 col-sm-6 no-padding text-md-left ">

          <h6>Horario de atención canal virtual (PQRSD)</h6>

          <p>Lunes a viernes<br>de 8:00 a.m. - 5:00 p.m. <br>Jornada Continua</p>

          <h6>Recepción de Correspondencia</h6>

          <p>Lunes a viernes<br>de 8:00 a.m. - 4:00 p.m. <br>Jornada Continua</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>